.App {
  text-align: default;
}

.app-container {
  padding: 10px;
  height: 100vh;
}

.section-column {
  height: 100%;
  bottom: 0;
}

.subtitle-div {
  position: absolute;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 90%;
  bottom: 10%;
  width: 100%;
}

.transition-container {
  overflow-y: hidden;
  height: auto;
  width: auto;
  margin: 0;
  max-height: 0px;
  display: block;
  padding: 0;
  opacity: 0;
  animation-name: expand;
  animation-fill-mode: forwards;
  animation-duration: .5s;
  animation-timing-function: ease-in-out;
}

@keyframes expand {
  0% {
    max-height: 0px;
    opacity: 0;
  }
  100% {
    max-height: 300px;
    opacity: 1;
  }
}
